/* ##################################################### */
/* ##################################################### */
/* BUTTONS CONTAINER SECTION */
.buttons {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Space Mono', monospace;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}


/* CONTAINER ABOVE 600px RESPONSIVE DESIGN */
@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}

/* ##################################################### */


/* RESPONSIVE CODE!! */
/* H1 FONT DESIGN ON BUTTON CONTAINER SECTION! */
h1 {
    color: pink;
    font-size: 1.25em;
    font-weight: 900;
    margin: 0 0 2em;
}

/* (BUTTON CONTAINER & H1) ABOVE 450px RESPONSIVE DESIGN */
@media (min-width: 450px) {

    .buttons {
        margin-top: 40%;
    }

    h1 {
        font-size: 1.75em;
    }
}

/* H1 ABOVE 760px RESPONSIVE DESIGN */
@media (min-width: 760px) {

    h1 {
        font-size: 3.25em;
    }
}

/* H1 ABOVE 900px RESPONSIVE DESIGN */
@media (min-width: 900px) {
    h1 {
        font-size: 5.25em;
        margin: 0 0 1em;
    }
}

/* ##################################################### */


/* ALL BUTTON DESIGN!! */
.btn {
    color: black;
    cursor: pointer;
    font-size: 15px;
    font-weight: 100;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

/* Button Responsive Design */
@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

/* ##################################################### */


/* OPTION1 BUTTON */
.btn-1 {
    background: #e3403a;
    border: 1px solid #da251f;
    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.btn-1:hover {
    background: #e02c26;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

/* EXTRA BUTTONS */
.btn-2 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(8, 8, 8, 0);
    outline: 1px solid;
    outline-color: rgba(0, 0, 0, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-2:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
































/* ##################################################### */
/* ##################################################### */
/* WHOLE BODY DESIGN */

body {
    background-image: url(images/chessbg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

/* ##################################################### */
/* NAV BAR!! */
/* ##################################################### */


/* Nav Bar Image! */
a {
    color: #000000;
    text-decoration: none;
}

a.identity img {
    width: 60px;
    padding: 80px 100px;
    transition: 1s ease;
    opacity: 0.6;
}

a.identity:hover img {
    opacity: 2;
}

/* Nav Bar Text! */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Josefin Slab', serif;
}

header nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 100px;
}


header nav ul li {
    position: relative;
    float: left;
    margin: 0 0 0 50px;
    font-weight: bold;
    /* #Nav Bar Text Size# */
    font-size: .9em;
    overflow: hidden;
}

/* Minimized Nav Bar! */
header nav ul li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: #000;
    position: absolute;
    left: -100%;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    top: 7px;
    pointer-events: none;
}

header nav ul li:hover:after {
    animation: menuHover 1s ease forwards;
}

@keyframes menuHover {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}







a.identity {
    position: relative;
    display: block;
    width: 100px;
    z-index: 100;
    transition: 0.5s;
}

a.identity img {
    width: 50px;
    padding: 70px 100px;
    transition: 1s ease;
    opacity: 0.6;
}

html.about a.identity img {
    /* filter: brightness(100); */
}

html.about nav a {
    color: #fff;
}

a.identity:hover img {
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 100px;
}

html.dark header nav a {
    color: #fff;
    text-shadow: 1px 1px 7px #7a7a7a;
}

html.dark .swiper-pagination-bullet,
html.dark .swiper-pagination-bullet-active {
    background: #fff !important;
}

html.dark a.identity {
    filter: brightness(100);
}

header nav ul li {
    position: relative;
    float: left;
    margin: 0 0 0 50px;
    font-weight: bold;
    font-size: .8em;
    overflow: hidden;
}

header nav ul li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: #000;
    position: absolute;
    left: -100%;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
    top: 7px;
    pointer-events: none;
}

header nav ul li:hover:after {
    animation: menuHover 1s ease forwards;
}

@keyframes menuHover {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}






/* ##################################################### */
/* SOCIAL ICONS */
/* ##################################################### */


.social-pins img {
    width: inherit;
}

html.dark .social-pins a {
    color: #fff;
}

html.open-menu .social-pins img {
    filter: contrast(0);
}


html.dark .swiper-button-next,
html.dark .swiper-button-prev {
    filter: contrast(0);
}

.social-pins {
    padding: 10px;
    transition: 0.5s;
}

.social-pins {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 100px;
    opacity: 0.5;
    width: 15px;
}

.social-pins a {
    width: inherit;
    display: inline-block;
    margin-top: 10px;
}

/* Activation of Instagram and Facebook Social Icons!! */
a.inst-more-link {
    border: 1px solid #000;
    padding: 20px 20px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: 1s ease all;
}

a.inst-more-link:hover {
    color: #fff;
    background: #000;
}

/* ##################################################### */
/* BUTTON SECTION */
/* ##################################################### */

.head-svg {
    width: 50vw;
}

/* ##################################################### */
/* PLAY STORE SECTION! */
/* ##################################################### */


div.cssDesignerAward {
    position: absolute;
    bottom: 0;
}

div.cssDesignerAward ul.cssDesignerAwardParts {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.cssDesignerAward ul.cssDesignerAwardParts li {
    float: left;
    display: block;
}

div.cssDesignerAward ul.cssDesignerAwardParts li a {
    padding: 0 6px;
}

div.cssDesignerAward ul.cssDesignerAwardParts li a img {
    width: 80px;
}

/* ##################################################### */
/* BUTTON AT CENTER */
/* ##################################################### */


section.home-container {
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-info {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 0 0 137px 0;
}

/* FOOOTER TEXT! */
.home-info h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Space Mono', monospace;
}

/* ##################################################### */
